################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Domain/bin
/Domain/obj
/Domain/appsettings.Development.json
