################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Domain/bin
/Domain/obj
/Domain/appsettings.Development.json
/BakeryHubSite/bin
/BakeryHubSite/obj
/BakeryHubSite/wwwroot/lib
/BakeryHubSite/wwwroot/js/site.min.js
/BakeryHubSite/wwwroot/css/site.min.css
/BakeryHubSite/BakeryHubSite.csproj.user
/BakeryHubSite/ScaffoldingReadMe.txt
