@model List<BakeryHub.Domain.Product>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Next products are in trend now
    <br/>
    <small>Select prodcuts then make an order</small>
</h2>
<hr/>
<div class="row">
    @foreach (var product in Model)
    {
        if (product.MainImage != null)
        {

        <div class="col-sm-3" style="margin-top:3ex; margin-bottom:3ex">
            <a href="/Account/Login">
                <img src="@product.MainImage.LogicalPath" style="width:100%" />
            </a>
            <div style="margin-top:1ex;font-size:150%; height:3ex">
                @product.Name
            </div>
        </div>

        }
    }
</div>